{% extends 'layout.html' %}

{% block body %}

<form action="/analysis" method="post">
    <label for="link">Enter Course URL link:</label>
    <input type="text" placeholder="url link" name="link" id="link">
    <label for="platform">Platform</label>
    <select name="platform" id="platform">
        <option value="Udemy">Udemy</option>
        <option value="YouTube">YouTube</option>
        <option value="Coursera">Coursera</option>
    </select>
    <button>Analyse</button>
</form>


{% endblock %}